*{
    margin:0;
    padding:0;
}
html{
    box-sizing:border-box;
    font-size:62.5%;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}
body{
    font-family:"Raleway", sans-serif;
    font-size:1.8rem;
    font-weight:400;
    line-height:1.4;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}
.nav {
    display:flex;
    justify-content:flex-end;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:rgb(143, 29, 29);
    box-shadow: 2px 2px black;
}
.nav-list a:hover{
    background: #45567d;
}
.nav-list a{
    display:block;
    font-size:2.2rem;
    padding:2rem;
}
.nav-list{
    display:flex;
    
    margin-right:30px;
    font-size:2em;
}
ul{
    display:flex;
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
}
h1{
    font-size:6rem;
    color:white;
}
h2{
    font-size:4.2rem;
    
}
p{
    color:white;
}
.welcome{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    background-color:black;
}
section{
    display:block;
}
.welcome p{
    font-size:3rem;
    color:rgb(143, 29, 29);
    font-weight:700;
    font-style:italic;
}
.proj-title{
    display:block;
    max-width:640px;
    margin:0 auto ;
    padding-top:70px;
    text-decoration: underline;
    text-underline-position:under;
    text-align:center;
    color:white;
}
#projects{
    background-color:rgb(116, 63, 160);  
    text-align:center;
}
.projects-grid{
    padding-top:100px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr) );
    grid-gap:4rem;
    width:100%;
    margin:0 auto;
    max-width:1280px;
}
img{
    display:block;
}
.project-image{
    height:350px;
    width:400px;
    object-fit: cover;
    border-radius:5px;
}
.project-title{
    text-align:center;
    background-color:#303841;
    font-size:20px;
    border-radius:5px;
    padding:15px;
}
.code{
    color:#303841;
    transition: color 0.3s ease-out;
}
.project:hover .code{
    color:#ff7f50;
}
.btn{
    display:inline-block;
    padding:1rem 2rem;
    border-radius:5px;
}
.btn-show-all{
    font-size:2rem;
    margin:0 auto;
    background:#303841;
    margin-top:70px;
    margin-bottom:90px;
}
.btn-show-all:hover{
    background: rgb(143, 29, 29);
    transition: background 0.5s;
}
.btn-show-all i{
    margin-left:5px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
.btn-show-all:hover i{
    
   transform:translateX(2px);
}
.contact-section{
    padding-top:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#303841;
}
.contact-header{
    
    text-align:center;
    padding-top:30px;
}
.contact-details{
    padding-top:50px;
    font-size:2.4rem;
    text-shadow:2px 2px 1px #1f1f1f;
    transition:transform 0.3s ease-out;
}
.contact-links{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    max-width:980px;
    margin-top:4rem;
    padding-bottom:80px;
}
.contact-details:hover{
    transform:translateY(8px);
}
footer{
    display:flex;
    background: #303841;
    justify-content:flex-end;
    padding:2rem;
    border-top:4px solid rgb(143, 29, 29);
}
footer p{
    line-height:2;
}
@media (max-width:75em){
    html{
        font-size:60%;
    }
}
@media (max-width:61.25em){
    html{
        font-size:58%;
    }
}
@media (max-width:28.75em){
    html{
        font-size:55%;
    }
}
@media(max-width: 28.75em){
    .nav{
        justify-content:center;
    }
    .nav-list{
        margin: 0 1rem;
    }
}
@media(max-width:28.75em){
    .contact-header{
        font-size:4rem;
    }
}
@media (max-width:30.625em){
    .projects-section{
        padding:6rem 1rem;
    }
    .projects-grid{
        grid-template-columns:1fr;
    }
}
@media (max-width:28.75em){
    .contact-header h1{
        font-size:4rem;
    }
}
@media (max-width:28.75em){
    footer{
        flex-direction:column;
        text-align:center;
    }
}